<div class="container">
  <div class="text-center mt-5 pt-5">
  <h1>Mean Stack Application</h1>
  <p>Welcome to the MEAN Stack Application by Jeff</p>
  <button class="btn btn-danger" routerLink="/register" >Register</button>
  <button class="btn btn-danger">Login</button>
  </div>

  <div class="row mt-5 pt-5">
   <div class="col-sm">
     <div class="card text-center">
       <div class="card-block">
         <h4 class="card-title mt-3">MongoDB</h4>
         <p class="card-text ml-3 mr-3">MongoDb is a free and open-source cross-platform document-oriented database
         program uses JSON-like documents with schemas</p>
         <a href="#" class="btn btn-primary mb-3">Go somewhere</a>
       </div>
     </div>
    </div>

   <div class="col-sm">
     <div class="card text-center">
       <div class="card-block">
         <h4 class="card-title mt-3">ExpressJS</h4>
         <p class="card-text ml-3 mr-3">Express js is a Node framework. Node js is a platform that allow JAVASCRIPT to be used
         outside the browser. for creating web and network application</p>
         <a href="#" class="btn btn-primary mb-3">Go somewhere</a>
       </div>
     </div>
   </div>
   <div class="col-sm">
     <div class="card text-center">
       <div class="card-block">
         <h4 class="card-title mt-3 ">Angular 2</h4>
         <p class="card-text ml-3 mr-3">Angular is a development platform for building mobile and desktop application
         UI dignissimel UI</p>
         <a href="#" class="btn btn-primary mb-4">Go somewhere</a>
       </div>
     </div>


 </div>

</div>


<div class="row mt-5">
   <div class="col-sm">
     <div class="card text-center">
       <div class="card-block">
         <h4 class="card-title mt-3 ">Node JS</h4>
         <p class="card-text ml-3 mr-3">Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Libero harum tempore sequi
             quam, error placeat!</p>
         <a href="#" class="btn btn-primary mb-3">Go somewhere</a>
       </div>
     </div>
   </div>
   <div class="col-sm">
     <div class="card text-center">
       <div class="card-block">
         <h4 class="card-title mt-3 ">Lorem </h4>
         <p class="card-text ml-3 mr-3">Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Libero harum tempore sequi
             quam, error placeat!</p>
         <a href="#" class="btn btn-primary mb-3">Go somewhere</a>
       </div>
     </div>
   </div>
   <div class="col-sm">
     <div class="card text-center">
       <div class="card-block">
         <h4 class="card-title mt-3 ">Lorem </h4>
         <p class="card-text ml-3 mr-3">Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Libero harum tempore sequi
             quam, error placeat!</p>
         <a href="#" class="btn btn-primary mb-3">Go somewhere</a>
       </div>
     </div>
   </div>
 </div>
